.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 1000;
}
  
.hamburger,
.theme-toggle {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: inherit;
    padding-left: 1%;
    padding-right: 1%;
}
  
.menu-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
  
.menu {
    background: var(--bg-color);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    width: 70%;
    z-index: 200;
}

.menu-dim-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 10; /* Feel free to edit this. */
}