.side-menu-container {
    background-color: lightgray;
    text-align: left;
    height: 70vh;  /* Or any other value that suits your design */
    overflow-y: auto;  /* Enables vertical scrolling */
    margin: 0 auto;
}
  
.tile {
    background-color: darkgreen;
    margin: 10px;
    padding: 15px;
    color: white;
    cursor: pointer;
    text-align: left;
}
  
.tile-heading {
    font-weight: bold;
}

.tile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.expanded {
    background-color: darkblue;
    height: auto;
    text-align: left;
}

.star {
    cursor: pointer;
    color: lightgray;
    font-size: 350%;
}
  
.favorited {
    color: gold;
}