/* MainMap.css */

#map-container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
  
#map-container svg {
    width: 200%; /* or any size larger than the container */
    height: 200%;
}